* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Header .Pages {
    text-align: right;
    font-family: "Poppins";
    font-size: medium;
    flex-wrap: wrap;
    display: flex;
    gap: 5%
}

Header .Logo {
    width: 50%;
    height: auto;
}

.Prod img {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.Prod p {
    font-size: 500%;
    font-family: "Poppins";
    text-align: center;
    font-weight: bold;
}

.Prod p:hover {
    font-size: 600%;
}

.Container {
    background-color: black;
    height: 500vh;
}

.Images {
    display: flex;
    width: 600px;
    height: 500px;
    flex-direction: row;
    display: inline;
}

.Images .Image1,
.Images .Image3,
.Images .Image5 {
    margin-left: 10%;
    margin-top: 15%;
}

.Text1 {
    color: white;
    font-family: "Poppins";
    flex-wrap: wrap;
    align-content: space-between;
    text-align: center;
    
}
html, body {
    scroll-behavior: smooth;
}